paho-mqtt==1.6.1          # import paho.mqtt.client as mqtt
PyYAML==6.0.3             # import yaml
setproctitle==1.3.7       # import setproctitle
sense-hat==2.2.0          # import SenseHat
psutil==7.2.2
rtimulib